{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}

    {% set icon %}
        {{ source('@WebProfiler/Icon/forward.svg') }}
        <span class="sf-toolbar-value">Go</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-group">
            {% for link in collector.links %}
                <div class="sf-toolbar-info-piece">
                    <b>
                        <a href="{{ link.href }}">{{ link.label }}</a>
                    </b>
                    <code style="color: var(--sf-toolbar-gray-100); background-color: var(--sf-toolbar-gray-600);">{{ link.path }}</code>
                </div>
            {% endfor %}
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}
